# 안녕하세요^^ 
## '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

# 데이터 분석부터 먼저 시작해보겠습니다.
## "구별 업종 등록 데이터" 를 확인해 보도록 하겠습니다

# 필요 라이브러리부터 설치합니다.
%pip install pandas seaborn

## 기본전제
* 처음에 제공되는 기본/추가 데이터는 'raw_data' 폴더에 있습니다.

[기본 데이터]
* business_type.csv

[데이터 소개]
* 서울 시 구별 등록 업종 상위 10개 데이터
    * 택시운송업
    * 한식일반음식점업
    * 용달 화물자동차 운송업
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[변수 소개]
* 다수 업종 상위 1~10

---

# 1.데이터 불러오기
## 모든 미니 프로젝트의 시작은 '데이터 불러오기' 부터라고 할 수 있습니다.
+ KeyPoint : 불러오고자 하는 데이터에 따라 자유롭게 변수로 지정할 수 있다.

###  데이터 프레임을 불러오고 변수로 저장(여기서는 CSV 기준으로 진행)
* csv : pd.read_csv("파일이름. csv")
* txt : pd.read_csv("파일이름. csv", sep="구분자")
* xlsx : pd.read_excel('파일이름.xlsx')
* pickle : pd.read_pickle("파일이름.pkl") <br>
 [참고] pickle은 파이썬의 모든 객체를 파일로 저장할 수 있는 방법으로 DataFrame,List,Dict 등 모든 객체 저장 가능(특히 sklearn라이브러리를 통해 모델을 학습시키고, 저장할 때 많이 사용)

## 기본전제
* 처음에 제공되는 데이터는 'raw_data' 폴더에 있습니다.

[기본 데이터]
* 1.4 business_type.csv

[데이터 소개]
* 서울시 업종 등록 데이터

#### [실습문제1] 데이터 로딩
* '1.4 business_type.csv'파일을 'seoul_business' 변수에 저장하고 그 데이터를 확인하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * UTF-8 인코더를 사용해 주세요

In [1]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
import pandas as pd
business_type = pd.read_csv('1.4 business_type.csv',sep=',', index_col = 0, encoding = 'UTF-8')

In [3]:
# 데이터 프레임의 Shape을 확인합니다.
business_type.shape

(451, 21)

---

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'seoul_moving' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보겠습니다.

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
business_type.info()

<class 'pandas.core.frame.DataFrame'>
Index: 451 entries, 자치구 to 강동구
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   동             451 non-null    object
 1   다수업종 상위10     451 non-null    object
 2   다수업종 상위10.1   451 non-null    object
 3   다수업종 상위10.2   451 non-null    object
 4   다수업종 상위10.3   451 non-null    object
 5   다수업종 상위10.4   451 non-null    object
 6   다수업종 상위10.5   451 non-null    object
 7   다수업종 상위10.6   451 non-null    object
 8   다수업종 상위10.7   451 non-null    object
 9   다수업종 상위10.8   451 non-null    object
 10  다수업종 상위10.9   451 non-null    object
 11  다수업종 상위10.10  451 non-null    object
 12  다수업종 상위10.11  451 non-null    object
 13  다수업종 상위10.12  451 non-null    object
 14  다수업종 상위10.13  451 non-null    object
 15  다수업종 상위10.14  451 non-null    object
 16  다수업종 상위10.15  451 non-null    object
 17  다수업종 상위10.16  451 non-null    object
 18  다수업종 상위10.17  451 non-null    object
 19  다수업종 상위10.18  451 non-null    object
 20  다수업종 상위10.19  451 non-null    object
dtypes: object(21)
memory usage: 77.5+ KB

In [4]:
business_type.head()

,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,다수업종 상위10.8,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
자치구,,,,,,,,,,,,,,,,,,,,,
자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,두발미용업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636","18,080",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
종로구,소계,215,215,"1,548","5,912",618,646,549,889,261,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
종로구,사직동,7,7,230,982,12,12,57,96,28,...,124,525,2,18,74,177,9,34,45,220

In [8]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
business_type.describe()

,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,다수업종 상위10.8,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
count,451,451,451,451,451,451,451,451,451,451,...,451,451,451,451,451,451,451,451,451,451
unique,425,226,280,176,305,177,180,142,205,121,...,131,239,69,147,127,189,113,222,107,230
top,소계,71,11,24,104,56,56,40,54,46,...,13,16,-,-,18,20,4,42,17,45
freq,25,7,7,11,6,8,9,11,9,12,...,18,8,82,82,14,10,15,10,16,9

#### [실습문제3] 데이터 확인 및 처리

* 데이터를 보았을때, 어느 데이터를 가져와야 할지 생각 해 봅시다.

In [3]:
# 사업체수와 종사자수를 다 합쳐버리자! 
df_1 = business_type.query('동=="소계"')
df_1[(df_1 == "-")] = 0
df_1

C:\Users\woosung\AppData\Local\Temp\ipykernel_2528\2564038000.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[(df_1 == "-")] = 0
C:\Users\woosung\AppData\Local\Temp\ipykernel_2528\2564038000.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[(df_1 == "-")] = 0

,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,다수업종 상위10.8,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
자치구,,,,,,,,,,,,,,,,,,,,,
종로구,소계,215,215,"1,548","5,912",618,646,549,889,261,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
중구,소계,230,235,"1,588","6,414",300,333,576,"1,152",339,...,869,"3,542","10,810","24,248",381,982,57,175,443,"2,121"
용산구,소계,416,523,857,"2,987",455,466,791,"1,214",366,...,634,"2,076",54,317,487,"1,332",104,573,300,"1,184"
성동구,소계,"1,200","2,527",956,"2,785","1,072","1,161",801,"1,453",489,...,547,"1,859",149,"1,572",285,621,258,"1,494",400,"1,545"
광진구,소계,"1,119","1,744",963,"2,861",968,985,871,"1,313",746,...,590,"1,887",89,687,633,"1,577",413,"1,646",467,"1,678"
동대문구,소계,"1,546","2,093","1,236","3,566","1,431","1,456",842,"1,208",611,...,494,"1,472",211,976,499,"1,082",302,984,442,"1,509"
중랑구,소계,"3,634","6,262",991,"2,479","1,804","1,877",738,"1,104",790,...,381,"1,037",63,284,535,"1,000",288,"1,045",499,"1,504"
성북구,소계,"1,835","2,643",973,"2,822","1,312","1,335",846,"1,175",739,...,457,"1,384",85,454,512,"1,030",464,"1,755",365,"1,334"
강북구,소계,"1,713","2,589",965,"2,663","1,024","1,030",589,867,673,...,358,"1,095",40,94,580,"1,275",220,740,362,"1,176"
도봉구,소계,"2,993","5,783",672,"2,009","1,571","1,574",515,794,600,...,288,837,22,43,258,477,351,"1,162",302,943
노원구,소계,"4,114","6,074",866,"2,650","1,730","1,736",714,"1,053",782,...,535,"1,748",30,123,355,844,735,"3,281",428,"1,557"
은평구,소계,"3,108","4,430",881,"2,585","1,340","1,349","1,134","1,614",947,...,457,"1,296",26,74,484,925,551,"1,793",476,"1,639"
서대문구,소계,"1,747","2,677",863,"2,694",802,808,667,956,598,...,370,"1,323",22,68,497,"1,127",361,"1,268",311,"1,088"
마포구,소계,"1,165","1,838","1,411","4,705",770,829,"1,149","1,903",896,...,"1,369","4,475",96,"1,209","1,011","2,559",469,"1,855",701,"2,928"
양천구,소계,"2,735","4,942",831,"2,800","1,286","1,293",922,"1,364",838,...,402,"1,375",25,52,415,851,"1,284","5,804",281,"1,111"
강서구,소계,"3,735","6,922","1,325","4,584","1,799","1,862","1,311","2,352","1,015",...,690,"2,530",78,700,794,"1,709",672,"2,347",581,"2,274"
구로구,소계,"2,757","3,817","1,048","3,215","1,318","1,351",789,"1,213",729,...,421,"1,384",114,923,576,"1,165",336,"1,111",428,"1,496"
금천구,소계,"1,100","2,598",867,"2,619",935,997,671,"1,381",488,...,383,"1,215",200,"2,575",391,685,153,487,300,"1,042"
영등포구,소계,"1,349","2,397","1,738","6,476","1,281","1,429",986,"1,566",673,...,838,"3,295",76,"1,220",636,"1,489",288,"1,082",494,"2,151"
동작구,소계,"1,033","1,115",765,"2,322",830,844,883,"1,483",651,...,486,"1,628",20,199,439,955,407,"1,463",331,"1,177"
관악구,소계,"1,286","2,027","1,226","3,689","1,579","1,600","1,010","2,136",895,...,581,"2,049",31,190,658,"1,672",354,"1,230",422,"1,628"
서초구,소계,417,903,"1,564","6,712",386,411,"1,457","2,758",676,...,"1,012","3,897",157,"1,563",446,"1,255",812,"3,812",445,"2,338"
강남구,소계,"1,796","2,517","2,415","11,486",445,487,"2,337","6,508","1,241",...,"1,624","7,273",384,"8,320",713,"2,528","1,426","9,020",827,"5,008"
송파구,소계,"2,638","4,850","1,575","5,760","1,910","1,931","1,677","3,190","1,137",...,975,"3,372",147,"2,830",628,"1,469",876,"4,160",639,"2,781"
강동구,소계,"3,295","4,980","1,101","3,388","1,528","1,566","1,188","1,990",900,...,546,"1,660",59,"1,433",589,"1,349",620,"2,104",428,"1,459"

In [22]:
df__1 = df_1.drop(['동'],axis=1)
df_2 = df__1.reset_index()
df_2

,자치구,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,다수업종 상위10.8,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,종로구,215,215,"1,548","5,912",618,646,549,889,261,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
1,중구,230,235,"1,588","6,414",300,333,576,"1,152",339,...,869,"3,542","10,810","24,248",381,982,57,175,443,"2,121"
2,용산구,416,523,857,"2,987",455,466,791,"1,214",366,...,634,"2,076",54,317,487,"1,332",104,573,300,"1,184"
3,성동구,"1,200","2,527",956,"2,785","1,072","1,161",801,"1,453",489,...,547,"1,859",149,"1,572",285,621,258,"1,494",400,"1,545"
4,광진구,"1,119","1,744",963,"2,861",968,985,871,"1,313",746,...,590,"1,887",89,687,633,"1,577",413,"1,646",467,"1,678"
5,동대문구,"1,546","2,093","1,236","3,566","1,431","1,456",842,"1,208",611,...,494,"1,472",211,976,499,"1,082",302,984,442,"1,509"
6,중랑구,"3,634","6,262",991,"2,479","1,804","1,877",738,"1,104",790,...,381,"1,037",63,284,535,"1,000",288,"1,045",499,"1,504"
7,성북구,"1,835","2,643",973,"2,822","1,312","1,335",846,"1,175",739,...,457,"1,384",85,454,512,"1,030",464,"1,755",365,"1,334"
8,강북구,"1,713","2,589",965,"2,663","1,024","1,030",589,867,673,...,358,"1,095",40,94,580,"1,275",220,740,362,"1,176"
9,도봉구,"2,993","5,783",672,"2,009","1,571","1,574",515,794,600,...,288,837,22,43,258,477,351,"1,162",302,943
10,노원구,"4,114","6,074",866,"2,650","1,730","1,736",714,"1,053",782,...,535,"1,748",30,123,355,844,735,"3,281",428,"1,557"
11,은평구,"3,108","4,430",881,"2,585","1,340","1,349","1,134","1,614",947,...,457,"1,296",26,74,484,925,551,"1,793",476,"1,639"
12,서대문구,"1,747","2,677",863,"2,694",802,808,667,956,598,...,370,"1,323",22,68,497,"1,127",361,"1,268",311,"1,088"
13,마포구,"1,165","1,838","1,411","4,705",770,829,"1,149","1,903",896,...,"1,369","4,475",96,"1,209","1,011","2,559",469,"1,855",701,"2,928"
14,양천구,"2,735","4,942",831,"2,800","1,286","1,293",922,"1,364",838,...,402,"1,375",25,52,415,851,"1,284","5,804",281,"1,111"
15,강서구,"3,735","6,922","1,325","4,584","1,799","1,862","1,311","2,352","1,015",...,690,"2,530",78,700,794,"1,709",672,"2,347",581,"2,274"
16,구로구,"2,757","3,817","1,048","3,215","1,318","1,351",789,"1,213",729,...,421,"1,384",114,923,576,"1,165",336,"1,111",428,"1,496"
17,금천구,"1,100","2,598",867,"2,619",935,997,671,"1,381",488,...,383,"1,215",200,"2,575",391,685,153,487,300,"1,042"
18,영등포구,"1,349","2,397","1,738","6,476","1,281","1,429",986,"1,566",673,...,838,"3,295",76,"1,220",636,"1,489",288,"1,082",494,"2,151"
19,동작구,"1,033","1,115",765,"2,322",830,844,883,"1,483",651,...,486,"1,628",20,199,439,955,407,"1,463",331,"1,177"
20,관악구,"1,286","2,027","1,226","3,689","1,579","1,600","1,010","2,136",895,...,581,"2,049",31,190,658,"1,672",354,"1,230",422,"1,628"
21,서초구,417,903,"1,564","6,712",386,411,"1,457","2,758",676,...,"1,012","3,897",157,"1,563",446,"1,255",812,"3,812",445,"2,338"
22,강남구,"1,796","2,517","2,415","11,486",445,487,"2,337","6,508","1,241",...,"1,624","7,273",384,"8,320",713,"2,528","1,426","9,020",827,"5,008"
23,송파구,"2,638","4,850","1,575","5,760","1,910","1,931","1,677","3,190","1,137",...,975,"3,372",147,"2,830",628,"1,469",876,"4,160",639,"2,781"
24,강동구,"3,295","4,980","1,101","3,388","1,528","1,566","1,188","1,990",900,...,546,"1,660",59,"1,433",589,"1,349",620,"2,104",428,"1,459"

In [5]:
for column in df_2:
    for i in range (len(df_2[column])):
        df_2[column][i] = df_2[column][i].replace(',','')

In [24]:
df_s = df_2['자치구']
df_s

0      종로구
1       중구
2      용산구
3      성동구
4      광진구
5     동대문구
6      중랑구
7      성북구
8      강북구
9      도봉구
10     노원구
11     은평구
12    서대문구
13     마포구
14     양천구
15     강서구
16     구로구
17     금천구
18    영등포구
19     동작구
20     관악구
21     서초구
22     강남구
23     송파구
24     강동구
Name: 자치구, dtype: object

In [9]:
df_3 = df_2.drop(['자치구'],axis=1)

In [10]:
df_3

,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,다수업종 상위10.8,다수업종 상위10.9,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,215,215,1548,5912,618,646,549,889,261,480,948,3613,400,962,537,1413,110,382,437,1982
1,230,235,1588,6414,300,333,576,1152,339,816,869,3542,10810,24248,381,982,57,175,443,2121
2,416,523,857,2987,455,466,791,1214,366,777,634,2076,54,317,487,1332,104,573,300,1184
3,1200,2527,956,2785,1072,1161,801,1453,489,851,547,1859,149,1572,285,621,258,1494,400,1545
4,1119,1744,963,2861,968,985,871,1313,746,1337,590,1887,89,687,633,1577,413,1646,467,1678
5,1546,2093,1236,3566,1431,1456,842,1208,611,891,494,1472,211,976,499,1082,302,984,442,1509
6,3634,6262,991,2479,1804,1877,738,1104,790,1108,381,1037,63,284,535,1000,288,1045,499,1504
7,1835,2643,973,2822,1312,1335,846,1175,739,1245,457,1384,85,454,512,1030,464,1755,365,1334
8,1713,2589,965,2663,1024,1030,589,867,673,997,358,1095,40,94,580,1275,220,740,362,1176
9,2993,5783,672,2009,1571,1574,515,794,600,847,288,837,22,43,258,477,351,1162,302,943
10,4114,6074,866,2650,1730,1736,714,1053,782,1353,535,1748,30,123,355,844,735,3281,428,1557
11,3108,4430,881,2585,1340,1349,1134,1614,947,1443,457,1296,26,74,484,925,551,1793,476,1639
12,1747,2677,863,2694,802,808,667,956,598,1185,370,1323,22,68,497,1127,361,1268,311,1088
13,1165,1838,1411,4705,770,829,1149,1903,896,2042,1369,4475,96,1209,1011,2559,469,1855,701,2928
14,2735,4942,831,2800,1286,1293,922,1364,838,1428,402,1375,25,52,415,851,1284,5804,281,1111
15,3735,6922,1325,4584,1799,1862,1311,2352,1015,1751,690,2530,78,700,794,1709,672,2347,581,2274
16,2757,3817,1048,3215,1318,1351,789,1213,729,1134,421,1384,114,923,576,1165,336,1111,428,1496
17,1100,2598,867,2619,935,997,671,1381,488,715,383,1215,200,2575,391,685,153,487,300,1042
18,1349,2397,1738,6476,1281,1429,986,1566,673,1261,838,3295,76,1220,636,1489,288,1082,494,2151
19,1033,1115,765,2322,830,844,883,1483,651,1105,486,1628,20,199,439,955,407,1463,331,1177
20,1286,2027,1226,3689,1579,1600,1010,2136,895,1604,581,2049,31,190,658,1672,354,1230,422,1628
21,417,903,1564,6712,386,411,1457,2758,676,1832,1012,3897,157,1563,446,1255,812,3812,445,2338
22,1796,2517,2415,11486,445,487,2337,6508,1241,6255,1624,7273,384,8320,713,2528,1426,9020,827,5008
23,2638,4850,1575,5760,1910,1931,1677,3190,1137,2328,975,3372,147,2830,628,1469,876,4160,639,2781
24,3295,4980,1101,3388,1528,1566,1188,1990,900,1429,546,1660,59,1433,589,1349,620,2104,428,1459

In [21]:
for column in df_2 :
    if column == '자치구':
        continue
    df_2[column] = df_2[column].astype['int']

TypeError: 'method' object is not subscriptable

In [13]:
# 사업체수 
df_4_1 = df_4[['다수업종 상위10','다수업종 상위10.2','다수업종 상위10.4','다수업종 상위10.6','다수업종 상위10.8','다수업종 상위10.10','다수업종 상위10.12','다수업종 상위10.14','다수업종 상위10.16','다수업종 상위10.18']]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
# 종사자수 
df_4_2 = df_4[['다수업종 상위10.1','다수업종 상위10.3','다수업종 상위10.5','다수업종 상위10.7','다수업종 상위10.9','다수업종 상위10.11','다수업종 상위10.13','다수업종 상위10.15','다수업종 상위10.17','다수업종 상위10.19']]

In [ ]:
# 해당 데이터프레임을 'df_seoul_business.csv' 파일로 저장하세요.

---

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [ ]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='nanum')
sns.set(font="NanumGothicCoding",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [실습문제4] 데이터 분포 알아보기
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---